/* header css */
body {
  background: url("./img/bg.jpg");
  font-family: "Montserrat", sans-serif;
}
header {
  background-image: linear-gradient(#770202da, #fd3d3dda);
  box-shadow: 0 5px 5px black;
}

.logo-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

nav{
  position: absolute;
  top: 120px;
  right:100px;

}

nav li{
  display: inline;
  margin: 0 10px 0 15px;
}

nav a{
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  font-size: 30px;
  text-decoration: none;
  margin-right: 10px;
  transition: 0.8s;
}

nav a:hover{
  font-size: 40px;
}

h2 {
  position: absolute;
  right: 0;
  top: 80px;
  left: 225px;
  font-size: 100px;
  font-weight: bold;
}

main {
  padding: 3em 0;
  margin: 50px 50px 50px 50px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.titulo-da-pagina {
  color: white;
  font-size: 40px;
  margin: 10px 0 -40px 70px;
}

.id-imagens {
  width: 65%;
  margin: 80px 0 0 60px;
}

.legenda {
  color: white;
  font-size: 20px;
  margin: 10px 0 0 60px;
}

.imgList {
  display: inline-block;
  width: 500px;
}

/* css do cartaz */

.area-cartaz {
  color: white;
  clear: left;
}

.area-cartaz h3 {
  vertical-align: top;
  margin: 20px 0 20px 60px;
  font-size: 40px;
}

.sinopse {
  font-size: 20px;
  line-height: 1.5;
}

h4 {
  font-size: 40px;
}

.img-cartaz {
  width: 20%;
  float: left;
  margin: 0 20px 20px 50px;
}

.genero {
  clear: left;
  color: gray;
  font-size: 25px;
  margin-left: 60px;
}

.aval {
  color: green;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  transition: 400ms;
}

.aval:hover {
  font-size: 50px;
}

.admin-titulo {
  color: white;
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
}

table {
  margin: 20px 20px 40px 40px;
  background: linear-gradient(#fb7979, #f3c8c8);
  border-radius: 10px;
}
thead {
  color: black;
  font-weight: bold;
}
td,
th {
  border: 1px solid #000000;
  padding: 8px 15px;
}

.botao {
  text-decoration: none;
  color: black;
  font-size: 20px;
  transition: 400ms;
}

.botao:hover {
  text-decoration: underline;
  font-weight: bold;
  color: rgb(109, 0, 0);
}

.container-botao {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.botao-adicionar {
  color: white;
  text-decoration: none;
  font-size: 40px;
  text-align: center;
  transition: 800ms;
}

.botao-adicionar:hover {
  color: rgb(255, 64, 64);
  font-size: 50px;
  text-decoration: underline;
}

/* css editar filme */

.titulo-function {
  color: white;
  margin: 0 40px 20px 40px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.form-function {
  width: 1020px;
  background: linear-gradient(#fb7979, #f3c8c8);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 2em;
  border-radius: 10px;
  padding-top: 10px;
}

.form-function div {
  margin-top: 20px;
}

.form-function label {
  display: block;
}

.form-function p {
  padding: 10px;
}

.campo-form {
  width: 30%;
  border: 0.1px round transparent;
  border-radius: 5px;
  font-size: 20px;
}


#sinopse {
  width: 30%;
  height: 200px;
  overflow-x: hidden;
}

#avaliacao {
  width: 50px;
  height: 20px;
}


.confirm-button {
  width: 30%;
  height: 60px;
  border-radius: 10px;
  border: transparent;
  background: rgb(250, 66, 66);
  font-size: 20px;
  color: white;
  transition: 0.7s;
}

.confirm-button:hover, #botao-cancelar:hover, .login-button:hover{
  background: rgb(109, 0, 0);
  font-size: 1.5em
}

/* css excluir filme */
.delete-form{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

#confirm-excluir{
  margin-left: 40px;
  float: left;
}

#botao-cancelar{
  margin-left: 200px;
  width: 30%;
  height: 60px;
  border-radius: 10px;
  border: transparent;
  background: rgb(250, 66, 66);
  font-size: 20px;
  color: white;
  transition: 0.7s;
}

::-webkit-scrollbar {
  width:  6px;
  height: 6px;
}
   
::-webkit-scrollbar-track {
  background: transparent;
}
   
::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.2);
}

/* css de autentificação */

.acess{
  width: 1020px;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 10px;
  text-align: center;
}

.login-pass{
  text-align: center;
  color: white;
  margin-top: 100px;
  margin-bottom: -80px;
  font-size: 30px
}

.login-box{
  text-align: center;
}

.logo-login{
  margin-bottom: -100px;
}

.acess ul{
  margin-top: 100px;
}

.login-form, .password-form{
  border-radius: 8px;
  width: 30%;
  height: 40px;
  font-size:20px;
}

.login-form{
  margin-bottom: -3px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.password-form{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-button{
  width: 31%;
  height: 40px;
  border-radius: 10px;
  border: transparent;
  background: rgb(250, 66, 66);
  font-size: 20px;
  color: white;
  transition: 0.7s;
}

